{
  "name": "{{ marketplace.name }}",
  "interface": {
    "displayName": "{{ marketplace.owner.name }} - agent skills"
  },
  "plugins": [
{% for item in plugins %}
    {
      "name": "{{ item.name }}",
      "source": {
        "source": "local",
        "path": "{{ item.source }}"
      },
      "policy": {
        "installation": "AVAILABLE",
        "authentication": "ON_INSTALL"
      },
      "category": "Productivity"
    }{{ "," if not loop.last else "" }}
{% endfor %}
  ]
}
